.add-node_button {
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: bisque;
    font-size: .875rem;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}